/* palette

 * greens
color: #579951;
color: #62ac5b;
color: #6dc066;
color: #7bc675;
color: #8acc84;
color: #98d293;
color: #a7d9a3;

 * blues
color: #090a11;
color: #131423;
color: #1c1e34;
color: #262946;
color: #303357;
color: #393d69;

color: #6067af;
color: #9fa3cf;
color: #bfc2df;


/* defaults */
body {
   color: #c6c6c6;
   background-color: #090a11;
}

h1, h2, h3, h4, h5, h6 {
   color: #888;
}

a {
   color: #8f94c7;
}

a:hover,
a:focus {
   color: #8f94c7;
   text-decoration: underline;
}

a:active {
   color: #9fa3cf;
}


/* menu */
#menu {
   background: linear-gradient(to bottom right, #131423, 40%, #090a11);
   box-shadow: 0 2px 8px 2px rgba(0,0,0,0.1);
   border-right: 1px solid #262946;
}

@media screen and (max-width: 900px) {
   #menu {
      box-shadow: none;
   }
}

#menu a {
   color: #ccc;
}

#menu a:hover, a:focus {
   color: #9fa3cf;
}


/* code */
.code {
   /* greens */
   color: #579951;
   background-color: #131423;
   border-radius: 2px;
}

pre.code {
   box-shadow: none;
   border: none;
   border-radius: 4px;
   padding: 0 1em;
   border: 1px solid #262946;
}

pre.code:hover {
   background-color: #131423;
   border: 1px solid #303357;
}

pre.code:active {
   border: 1px solid #303357;
}

/* hack to display music svgs */
#main img {
   display: block;
   background: #ded7cf;
   background: #bab3ab;
   padding: 16px;
   border-radius: 4px;
   box-shadow: none;
   border: none;
   margin-bottom: 1em;
}


/* repl / edit form */
#repl, .edit {
   background: #131423; /* blue */
   background: linear-gradient(to bottom right, #131423, 40%, #090a11);
   color: #888;
   border: 1px solid #303357;
   border-right: 1px solid #262946;
}

#repl img {
   background: initial;
   padding: 0;
   box-shadow: none;
   border-radius: 0px;
   border: none;
}

#ReplSvg img,
#ReplSvgFullscreen img {
   background: #ded7cf;
   padding: 16px;
   border-radius: 4px;
   box-shadow: none;
   border: none;
   margin-bottom: 4px;
}

#metaReplHeader {
   border-bottom: 2px solid #131e34;
}

#replHeaderText {
   display: inline;
   color: #999;
}

#repl input[type=text], textarea {
   color: #aaa;
   background: linear-gradient(to bottom right, #111, #131313);
   background: #131313;
   border: 1px solid #303357;
}

.edit input[type=text], textarea {
   color: #aaa;
   background: linear-gradient(to bottom right, #111, #131313);
   border: 1px solid #303357;
}

#repl input[type=text]:focus, #repl textarea:focus {
   color: #aaa;
   background: linear-gradient(to bottom right, #111, #131313);
   border: 1px solid #393d69;
}

.edit input[type=text]:focus, textarea:focus {
   color: #aaa;
   background: linear-gradient(to bottom right, #111, #131313);
   border: 1px solid #393d69;
}

.edit hr, #repl hr {
   color: #1c1e34;
   margin-right: 8px;
}

.edit h3 {
   text-decoration: none;
}

/* search */
#searchGrp strong {
   color: #6dc066;
}

#searchGrp input[type=text] {
   color: #bbb;
   border: 1px solid #303357;
   background: linear-gradient(to bottom right, #111, #131313);
   padding: 2px 4px;
}

#searchGrp input[type=text]:focus {
   color: #bbb;
   background: linear-gradient(to bottom right, #111, #131313);
   border: 1px solid #393d69;
}

#searchGrp a {
   color: #ccc;
}

#searchGrp a:hover {
   color: #9fa3cf;
}

/* submit buttons */
#searchGrp .submit {
   color: #888;
   border: 1px solid #777;
   background: #131423;
   padding: 2px 4px 2px;
}

#searchGrp .submit:hover {
   color: #999;
   border: 1px solid #999;
   background: #131423;
}

#searchGrp .submit:active {
   color: #6dc066;
   border: 1px solid #6dc066;
   background: #090a11;
   top: 1px;
}

#repl .submit[disabled="disabled"] {
   opacity: 0.66;
   box-shadow: none;
   filter: blur(0.4px);
   cursor: default;
}

#repl .submit[disabled="disabled"]:hover {
   opacity: 0.66;
   color: #888;
   border: 1px solid #777;
   background: #131423;
   box-shadow: unset;
}


/* buttons */
#repl .modal-inner .submit,
button.submit,
#repl .submit,
.dialog .submit,
.alert .submit,
.edit .submit,
.login .submit {
   color: #888;
   background: #131423;
   border: 1px solid #777;
   padding: 2px 4px 2px;
   box-shadow: unset;
}

#repl .modal-inner .submit:hover,
button.submit:hover,
#repl .submit:hover,
.dialog .submit:hover,
.alert .submit:hover,
.edit .submit:hover,
.login .submit:hover {
   color: #999;
   background: #131423;
   border: 1px solid #888;
   padding: 2px 4px 2px;
}

#repl .modal-inner .submit:active,
button.submit:active,
#repl .submit:active,
.dialog .submit:active,
.alert .submit:active,
.edit .submit:active,
.login .submit:active {
   color: #6dc066;
   background: #090a11;
   border: 1px solid #6dc066;
   padding: 2px 4px 2px;
   top: 1px;
}


/* from 'form' GUI */
.chart {
   /* width: 100%; */
   margin: 4px 0px;
   white-space: nowrap;
}

.chart td {
   color: #aaa;
   background-color: #131423;
   padding: 0px 4px 2px;
   border-radius: 3px;
}

.chart td.T {
   background-color: #131423;
}

.chart td.nil {
   background-color: white;
}

.error {
   color: #602223;
   background: #f37779;
   font-weight: bold;
}

.modal-inner {
   width: max-content;
   padding: 12px;
   position: absolute;
   top: 33%;
   left: 50%;
   transform: translate(-50%, 0);
   box-shadow: 0 16px 32px 0 rgba(0,0,0,0.4);
   background-color: #333;
   border-radius: 4px;
   border: 1px solid #666;
}


/* metarepl tabsJS */
#repl .tabs {
   /* margin: 0px 16px; */
   margin-bottom: 4px;
   font-family: monospace;
}

#repl .tabs a,
#repl .tabs button,
#repl .tabcontainer button {
   color: #8f94c7;
   padding: 4px 1rem;
   background: #131423;
   border: none;
   margin-right: 4px;
}

#repl .tabs .top,
#repl .tabcontainer .active {
   border-bottom: none;
   background-color: #262946;
   color: #6dc066;
   border-radius: 4px;
}

#repl .tabs a:hover,
#repl .tabs button:hover,
#repl .tabcontainer button:hover {
   color: #8f94c7;
   background: #1c1e34;
   border-radius: 4px;
   text-decoration: none;
}

#repl .tabs button:active,
#repl .tabcontainer button:active {
   color: #9fa3cf;
}

#repl .tabs .top:hover,
#repl .tabcontainer button.active:hover {
   color: #6dc066;
   background: #262946;
}

#repl .tabcontainer .tabpane {
   background: unset;
   color: #999;
}

#repl .tabView {
}

#repl .tabs a:visited {
   text-decoration: none;
}


#repl select {
   font-size: inherit;
   color: #ccc;
   background: #2d2d2d;
   border: 1px solid #666;
}

.debugView {
   color: #bbb;
}

.dot-menu::after {
   color: #888;
}


/* collapsible dot-menu */
.dot-menu.collapsible + .collapsible-content {
   background: #131423;
   position: absolute;
   top: 40px;
   z-index: 1;
   border-radius: 4px;
   box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
}

/* dot-menu actions */
#docButtonsDiv a {
   color: #888;
   background: #131423;
   padding: 4px 8px;
   border: none;
   box-shadow: none;
}

#docButtonsDiv a:hover {
   color: #999;
   background: #131423;
   border: none;
   box-shadow: none;
}

#docButtonsDiv a:active {
   color: #6dc066;
   background: #131423;
   border: none;
   box-shadow: none;
}


input[type="file"] {
   background: linear-gradient(to bottom right, #111, #131313);
   border: 1px solid #303357;
}

input[type="file"]::file-selector-button {
   background: #888;
   color: #222;
}


/* touch input styles */
#touchTabView.tabpane.active p.mono {
   font-size: 13px;
   margin: 0px;
}

#touchSvgButtons {
   color: #222;
   position: absolute;
   top: 16px;
   left: 16px;
   z-index: 20;
}

#touchSvgButtons .submit {
   color: #000;
   font-weight: normal;
   font-size: 30px;
   background: none;
   border: none;
   box-shadow: none;
   min-width: 21px;
}

#touchSvgButtons .submit:hover {
   color: #000;
   font-weight: normal;
   font-size: 30px;
   background: #ddd;
   border: none;
   box-shadow: none;
}

#touchSvgButtons .submit:active {
   color: #000;
   font-weight: normal;
   font-size: 30px;
   background: #ddd;
   border: none;
   box-shadow: none;
}

#touchSvgButtons .submit:focus {
   background: none;
}

#touchSvgFab .submit {
   display: block;
   border-radius: 50%;
   /* padding: 0px 12px 4px 12px; */
   /* background: #ddd; */
   font-size: 48px;
   font-family: monospace;
   height: 48px;
   width: 48px;
   line-height: 48px;
   border-radius: 50%;
   background: #ddd;
   text-align: center;

   background:
      linear-gradient(#222,#222),
      linear-gradient(#222,#222),
      #ddd;
   background-position:center;
   background-size: 40% 3px, 3px 40%;
   background-repeat:no-repeat;
}

#touchSvgFab .submit:hover {
   background:
      linear-gradient(#222,#222),
      linear-gradient(#222,#222),
      #e6e6e6;
   background-position:center;
   background-size: 40% 3px, 3px 40%;
   background-repeat:no-repeat;
}

#touchSvgFab .submit:active {
   background:
      linear-gradient(#222,#222),
      linear-gradient(#222,#222),
      #e6e6e6;
   background-position:center;
   background-size: 40% 3px, 3px 40%;
   background-repeat:no-repeat;
   border: 1px solid #666;
   box-shadow: 0 0 2px 1px #66,;
}

/* touch input dropdown menu */
#touchTabView .dot-menu {
   margin-left: 16px;
}

#touchTabView .dot-menu:after {
   color: #222;
}

#touchTabView .dot-menu.collapsible.active {
   background: unset;
}

#repl .modal-inner {
   background: #131423;
   color: #999;
   border: 1px solid #1c1e34;
}
