/* palette

 * greens
color: #6dc066;
color: #7bc675;
color: #8acc84;
color: #98d293;
color: #a7d9a3;
 * blues
color: #131423;
color: #1c1e34;
color: #262946;
color: #303357;
color: #393d69;

color: #6067af;
color: #9fa3cf;
color: #bfc2df;


/* defaults */
body {
   color: #ccc;
   background-color: #1c1e34;
}

h1, h2, h3, h4, h5, h6 {
   color: #999;
}

a {
   color: #8f94c7;
}

a:hover,
a:focus {
   color: #8f94c7;
   text-decoration: underline;
}

a:active {
   color: #9fa3cf;
}


/* menu */
#menu {
   background-color: #131423;
   box-shadow: 0 2px 8px 2px rgba(0,0,0,0.1);
}

#menu a {
   color: #ccc;
}

#menu a:hover, a:focus {
   color: #9fa3cf;
}


/* code */
.code {
   /* greens */
   color: #6dc066;
   background-color: #262946;
   border-radius: 2px;
}

pre.code {
   box-shadow: none;
   border: none;
   border-radius: 4px;
   padding: 0 1em;
}

pre.code:hover {
   background-color: #303357;
   border: none;
}

pre.code:active {
   background-color: #303357;
   border: none;
}

/* hack to display music svgs */
#main img {
   display: block;
   background: #ded7cf;
   padding: 16px;
   border-radius: 4px;
   box-shadow: none;
   border: none;
   margin-bottom: 1em;
}


/* repl / edit form */
#repl, .edit {
   background: #131423; /* blue */
   color: #888;
   border: 1px solid #131423;
}

#repl img {
   background: initial;
   padding: 0;
   box-shadow: none;
   border-radius: 0px;
   border: none;
}

#ReplSvg img,
#ReplSvgFullscreen img {
   background: #ded7cf;
   padding: 16px;
   border-radius: 4px;
   box-shadow: none;
   border: none;
   margin-bottom: 4px;
}

#replHeaderText {
   display: inline;
   color: #999;
}

#repl input[type=text], textarea {
   color: #bbb;
   background: #222;
   border: 1px solid #303357;
}

.edit input[type=text], textarea {
   color: #bbb;
   background: #222;
   border: 1px solid #303357;
}

#repl input[type=text]:focus, #repl textarea:focus {
   color: #bbb;
   background: #222;
   border: 1px solid #393d69;
}

.edit input[type=text]:focus, textarea:focus {
   color: #bbb;
   background: #222;
   border: 1px solid #393d69;
}

.edit hr, #repl hr {
   color: #262946;
   margin-right: 8px;
}

.edit h3 {
   text-decoration: none;
}

/* search */
#searchGrp strong {
   color: #6dc066;
}

#searchGrp input[type=text] {
   color: #bbb;
   background: #222;
   border: 1px solid #303357;
   padding: 2px 4px;
}

#searchGrp input[type=text]:focus {
   color: #bbb;
   background: #222;
   border: 1px solid #393d69;
}

#searchGrp a {
   color: #ccc;
}

#searchGrp a:hover {
   color: #9fa3cf;
}

/* submit buttons */
#searchGrp .submit {
   color: #888;
   border: 1px solid #777;
   background: #131423;
   padding: 2px 4px 2px;
}

#searchGrp .submit:hover {
   color: #999;
   border: 1px solid #999;
   background: #131423;
}

#searchGrp .submit:active {
   color: #6dc066;
   border: 1px solid #6dc066;
   background: #090a11;
   top: 1px;
}

#repl .submit[disabled="disabled"] {
   opacity: 0.66;
   box-shadow: none;
   filter: blur(0.4px);
   cursor: default;
}

#repl .submit[disabled="disabled"]:hover {
   opacity: 0.66;
   color: #888;
   border: 1px solid #777;
   background: #131423;
   box-shadow: unset;
}


button.submit,
#repl .submit,
.dialog .submit,
.alert .submit,
.edit .submit,
.login .submit {
   color: #888;
   background: #131423;
   border: 1px solid #777;
   padding: 2px 4px 2px;
   box-shadow: unset;
}

button.submit:hover,
#repl .submit:hover,
.dialog .submit:hover,
.alert .submit:hover,
.edit .submit:hover,
.login .submit:hover {
   color: #999;
   background: #131423;
   border: 1px solid #888;
   padding: 2px 4px 2px;
}

button.submit:active,
#repl .submit:active,
.dialog .submit:active,
.alert .submit:active,
.edit .submit:active,
.login .submit:active {
   color: #6dc066;
   background: #090a11;
   border: 1px solid #6dc066;
   padding: 2px 4px 2px;
   top: 1px;
}


/* from 'form' GUI */
.chart {
   /* width: 100%; */
   margin: 4px 0px;
   white-space: nowrap;
}

.chart td {
   color: #aaa;
   background-color: #262946;
   padding: 0px 4px 2px;
   border-radius: 3px;
}

.chart td.T {
   background-color: #262946;
}

.chart td.nil {
   background-color: white;
}

.error {
   color: #602223;
   background: #f37779;
   font-weight: bold;
}

.modal-inner {
   width: max-content;
   padding: 12px;
   position: absolute;
   top: 33%;
   left: 50%;
   transform: translate(-50%, 0);
   box-shadow: 0 16px 32px 0 rgba(0,0,0,0.4);
   background-color: #333;
   border-radius: 4px;
   border: 1px solid #666;
}


/* metarepl tabsJS */
#repl .tabs {
   /* margin: 0px 16px; */
   margin-bottom: 4px;
   font-family: monospace;
}

#repl .tabs a,
#repl .tabs button,
#repl .tabcontainer button {
   color: #8f94c7;
   padding: 4px 1rem;
   background: #131423;
   border: none;
   margin-right: 4px;
}

#repl .tabs .top,
#repl .tabcontainer .active {
   border-bottom: none;
   background-color: #262946;
   color: #6dc066;
   border-radius: 4px;
}

#repl .tabs a:hover,
#repl .tabs button:hover,
#repl .tabcontainer button:hover {
   color: #8f94c7;
   background: #1c1e34;
   border-radius: 4px;
   text-decoration: none;
}

#repl .tabs button:active,
#repl .tabcontainer button:active {
   color: #9fa3cf;
}

#repl .tabs .top:hover,
#repl .tabcontainer button.active:hover {
   color: #6dc066;
   background: #262946;
}

#repl .tabcontainer .tabpane {
   background: unset;
}

#repl .tabView {
}

#repl .tabs a:visited {
   text-decoration: none;
}


#repl select {
   font-size: inherit;
   color: #ccc;
   background: #2d2d2d;
   border: 1px solid #666;
}

.debugView {
   color: #bbb;
}

.dot-menu::after {
   color: #999;
}


/* collapsible dot-menu */
.dot-menu.collapsible + .collapsible-content {
   background: #131423;
   position: absolute;
   top: 40px;
   z-index: 1;
   border-radius: 4px;
   box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
}

/* dot-menu actions */
#docButtonsDiv a {
   color: #888;
   background: #131423;
   padding: 4px 8px;
   border: none;
   box-shadow: none;
}

#docButtonsDiv a:hover {
   color: #999;
   background: #131423;
   border: none;
   box-shadow: none;
}

#docButtonsDiv a:active {
   color: #6dc066;
   background: #131423;
   border: none;
   box-shadow: none;
}


input[type="file"] {
   background: #222;
   border: 1px solid #303357;
}

input[type="file"]::file-selector-button {
   background: #888;
   color: #222;
}
